<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="https://aigctools.info" target="_blank"
    >
      AIGC
    </a>
    <span px-1>|大模型使用会产生一定费用，觉得好用可以给我打个赏来支持我</span>
    <img title="大模型使用会产生一定费用，觉得好用可以给我打个赏来支持我" alt="觉得好用可以给我打个赏" src="/pay.jpeg" width="250px> height="250px"</img>
  </p>
</footer>
