<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="https://aigctools.info" target="_blank"
    >
      AIGC
    </a>
    <span px-1>|大模型使用会产生一定费用，觉得好用可以给我打个赏来支持我,也可以加入AI入群一起学习交流</span>
    <div style="float:left"><span><img title="大模型使用会产生一定费用，觉得好用可以给我打个赏来支持我" alt="觉得好用可以给我打个赏" src="/pay.jpeg" width="250px> height="250px"</img></span></div>
    <img title="也可以扫码加入AI创新交流群一起学习" src="/group.png" width="250px> height="250px"</img></span>
  </p>
</footer>
