<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="https://aigctools.info" target="_blank"
    >
      AIGC
    </a>
    <span px-1>|欢迎入群一起学习交流</span>
    <img title="也可以扫码加入AI创新交流群一起学习" src="/group.png" width="250px> height="250px"</img></span>
  </p>
</footer>
