---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="ChatGPT is an AI-powered chatbot and text generation platform, powered by OpenAI's GPT-4 technology. Improve your writing, automate customer support, and much more. ChatGPT 是一个由 OpenAI 的 GPT-4 技术驱动的 AI 聊天机器人和文本生成平台。提高您的写作能力，自动化客户支持等等">
    <meta name="keywords" content="ChatGPT, OpenAI, GPT-4, AI Chatbot, Text Generation, Language Model, NLP, AI Writing Assistant ChatGPT OpenAI GPT-4 chat gpt 国内版免费 chat gpt官网入口 chat gpt 国内版入口 chat gpt 免登录版 ChatGPT中文在线官网  ChatGPT中国版在线 ChatGPT手机网页版 人工智能聊天 AI 对话生成器 聊天机器人 语言模型 自然语言处理 NLP 工具 生成文本 文本生成器 AI 写作助手 人工智能写作 人工智能文章生成器 虚拟助手 智能客服 自动回复">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,viewport-fit=cover"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {
      import.meta.env.HEAD_SCRIPTS
        ? (
        <Fragment set:html={import.meta.env.HEAD_SCRIPTS} />
          )
        : null
    }
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SZRDK2EQ59"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-SZRDK2EQ59');
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --c-bg: #fbfbfb;
    --c-fg: #444444;
    --c-scroll: #d9d9d9;
    --c-scroll-hover: #bbbbbb;
    scrollbar-color: var(--c-scrollbar) var(--c-bg);
  }

  html {
    font-family: system-ui, sans-serif;
    background-color: var(--c-bg);
    color: var(--c-fg);
  }

  html.dark {
    --c-bg: #212129;
    --c-fg: #ddddf0;
    --c-scroll: #333333;
    --c-scroll-hover: #555555;
  }

  main {
    max-width: 70ch;
    margin: 0 auto;
    padding: 6rem 2rem 4rem;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--c-scroll);
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--c-scroll-hover);
  }
  ::-webkit-scrollbar-track {
    background-color: var(--c-bg);
  }
</style>

<script>
const initTheme = () => {
  const darkSchema
    = window.matchMedia
    && window.matchMedia('(prefers-color-scheme: dark)').matches
  const storageTheme = localStorage.getItem('theme')
  if (storageTheme) {
    document.documentElement.classList.toggle(
      'dark',
      storageTheme === 'dark',
    )
  } else {
    document.documentElement.classList.toggle('dark', darkSchema)
  }
}

initTheme()
</script>
